@import 'bulma/css/bulma.css';

body {
    background-color: #ffffff;
    /* or any other color */
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}