.sage {
    /* color: #8A9A5B; */
    color: #6D9773;
    /* Sage text color */
}

/* Custom checkbox styles */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #6D9773;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}

/* Custom checkbox checked state */
input[type="checkbox"]:checked {
    background-color: #6D9773;
    border-color: #6D9773;
}

input[type="checkbox"]:checked::before {
    content: "✔";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: white;
}


.is-transparent {
    background-color: hsl(0 100% 100% /1);
}

.sage {
    /* color: #8A9A5B; */
    color: #6D9773;
    /* Sage text color */
}

.sage-button {
    background: #6D9773;
    border: none;
    padding: 10px 20px;
    font-size: inherit;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
    font-family: inherit;
    font-weight: inherit;
    mix-blend-mode: normal;
    color: white;
}

.sage-button:hover {
    background: #5a8460 !important;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(109, 151, 115, 0.3);
}

.is-glassy {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px 20px;
    font-size: inherit;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease-in-out;
    font-family: inherit;
    font-weight: inherit;
    mix-blend-mode: difference;
    color: rgb(83, 97, 37);
}

.is-glassy:hover {
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}



.navbar {
    background-color: hsl(0 100% 100% /0.1);
}

.navbar-item.is-active {
    background-color: hsl(75 26% 48%/1);
    /* background-color: hsl(86 81% 31%/1); */
    color: white;
}

.navbar-item:hover {
    background-color: hsl(75 26% 48%/0.2);
}

.navbar-item.is-active:hover {
    background-color: hsl(75 26% 48%/1);
}

.login-con {
    height: calc(100vh - 70px);
    overflow: hidden;
    padding-bottom: 80px;
}

.hero.is-fullheight {
    min-height: 100%;
}

.box {
    max-height: 100%;
    overflow-y: auto;
}